<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Add Product</title>
</head>

<body>
    <%- include('includes/header'); -%>

        <main>
            <form class="product-form" method="POST" id="product-form" onsubmit="onAddProduct(event)">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" required>
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" required>
                    <label for="qty">Quantity</label>
                    <input type="number" name="qty" id="qty" required>
                </div>
                <button type="submit">Add Product</button>
            </form>
        </main>
        <script>
            function onAddProduct(e) {
                e.preventDefault();
                const title = document.getElementById("title").value;
                const qty = document.getElementById("qty").value;
                const price = document.getElementById("price").value;
                fetch("/admin/products", {
                    method: "POST", headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ title, qty, price }),
                }).then(response =>
                    response.json().then(data => ({ "status": response.status, "ok": response.ok, data }))
                ).then(result => {
                    if (!result.ok) {
                        throw Error(result?.data?.message || 'Something went wrong.');
                    }
                    console.log(result.data);
                    document.getElementById("product-form").reset();
                }).catch(e => { console.error(e) })
            }
        </script>
</body>

</html>