<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <title>Product API</title>
</head>

<body>
    <main class="container"><br>
        <h2>Welcome to Node Products API</h2>
        <p>Add product documentation about the views you have and link to swagger documentation</p>
    </main>

</body>

</html>