<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <title>Product API</title>
</head>

<body>
    <header>Node Express Product API</header>
    <main class="main"><br>
        <h2 class="main-heading"><span>Product Management API</span><a
                href="https://node-products-api-vma.onrender.com/api-docs/">Swagger Documentation</a></h2>
        <p class="main-content">Welcome to the Product Management API! This API allows you to manage product data
            efficiently. Below, you'll
            find detailed information on how to interact with the API endpoints, authentication, validation, and more.
        </p>
        <p class="main-content">This application is built using </p>
        <ol>
            <li>NodeJS, ExpressJs</li>
            <li>EJS template</li>
            <li>JsonWebToken</li>
            <li>Yup</li>
            <li>Helmet</li>
            <li>Swagger</li>
            <li>MongoDB Mongoose</li>
        </ol>
    </main>
    <section class="section">
        <h3>Swagger Documentation</h3>
        <p class="section-content">For detailed information on each endpoint, request and response payloads, refer to
            the Swagger documentation
            provided at:
            <a
                href="https://node-products-api-vma.onrender.com/api-docs/">https://node-products-api-vma.onrender.com/api-docs/</a>
        </p>
    </section>
    <section class="section">
        <h3>Base URL</h3>
        <p class="section-content">The base URL for accessing the API is:
            <a href="https://node-products-api-vma.onrender.com"></a>
        </p>
        <div>
            <h4>Authentication</h4>
            <p class="section-content">To access certain endpoints such as adding, updating, or deleting products, you
                need to authenticate
                using JSON Web Tokens (JWT). Obtain a JWT token by signing in as an admin.</p>
        </div>
        <p class="section-content">Detailed information regarding endpoints are mentoined in swagger documentation</p>

    </section>
    <section class="section">
        <h3>Server-Side Validation</h3>
        <p class="section-content">Request payloads for adding and updating products are validated on the server side to
            ensure data integrity.
            Validation errors will be returned with appropriate error messages.
        </p>
    </section>
    <section class="section">
        <h3>Data Storage</h3>
        <p class="section-content">Data is stored in MongoDB</p>
    </section>
    <section class="section">
        <h3>Security Headers</h3>
        <p class="section-content">For enhanced security, this API sets secure response headers using the helmet
            package.</p>
    </section>
    <section class="section">
        <h3>Deployement</h3>
        <p class="section-content">Application is deployed in Render Hoisting Provider </p>
    </section>

</body>

</html>