<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Update Product</title>
</head>

<body>
    <%- include('includes/header'); -%>

        <main>
            <form class="product-form" id="product-form" onsubmit="getUpdateForm(event)">
                <div class="form-control">
                    <label for="prd-id">Product ID</label>
                    <input type="string" name="prd-id" id="prd-id" required>
                </div>
                <button type="submit">Retrieve Product</button>
            </form>
        </main>
        <script>
            function getUpdateForm(e) {
                e.preventDefault();
                const id = document.getElementById("prd-id").value;
                window.location.replace(`/admin/update-product/${id}`)
            }
        </script>
</body>

</html>